.PlayVideo-container {
  resize: both;
  width: 100%;
  height: 100vh;
  margin-top: 0;
}
.Player-holder {
  width: 100%;
  height: 80%;
}

.PlayVideo {
  margin-top: 6%;
  width: 100%;
  height: 100%;
}
.Player-additional {
  display: grid;
  grid-template-rows: auto auto;
  column-gap: 5px;
  width: 45%;
  margin-left: 4%;
  margin-top: 5.3em;
}
.Player-details {
  width: 100%;
  height: 20px;
  display: grid;
  grid-template-rows: 20px 50px;
}
.player-title {
  font-size: 1.3em;
  color: white;
  margin-top: 0px;
  font-weight: bold;
}
.Player-logo > img {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

.Player-channel {
  display: flex;
  flex-direction: row;
  margin-top: 2em;
}
.Player-channel-title {
  margin-left: 3%;
  font-size: 1em;
}
.Player-extra-videos {
  width: 100%;
  height: 20px;
}
