.Header {
  position: fixed;
  background-color: #0f0f0f;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* z-index: 999; */
}
.Header-left {
  /* display: flex;
  flex-direction: row; */
  display: grid;
  grid-template-columns: auto auto;
  height: 15px;
  column-gap: 20%;
  margin-left: 12px;
}
.Header-left-icon2 {
  /* display: grid;
  grid-template-columns: 20px auto; */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 15px;
}
.Header-left-icon2-logo {
  height: 17px;
  width: 20px;
}
.Header-left-icon-logo {
  color: red;
  background: white;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0.05em;
}
.Header-left-icon-text {
  margin-top: -0.7rem;
  font-size: 8px;
  margin-left: 0.5em;
}
.Header-center {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
}
.Header-center-input {
  position: relative;
  margin-left: 0px;
}
.Header-input {
  width: 200px;
  height: 10px;
  border-radius: 20px;
  margin-top: -5px;
  border: 2px #222222 solid;
  text-indent: 5px;
  font-size: 7px;
  background: transparent;
  outline: none;
}
.Header-search-icon {
  position: absolute;
  margin-left: -17px;
  margin-top: 2px;
  color: white;
  padding: 2px;
  border-radius: 20px;
  font-size: 10px;
}
.Header-center-mic {
  background: #181818;
  font-size: 10px;
  padding: 2px;
  border-radius: 20px;
  margin-top: 2px;
  margin-left: -5px;
  cursor: pointer;
  height: 12px;
  width: 12px;
  text-align: center;
  align-items: center;
}
.Header-right {
  margin-right: 15px;
  display: grid;
  grid-template-columns: repeat(3, auto);
  column-gap: 10px;
  margin-top: 2px;
}
