.Navbar {
  margin-top: 4em;
  width: 10%;
  z-index: 100;
  position: fixed;
  background-color: #0f0f0f;
  transition: margin-left ease 1s;
  margin-left: 0;
}

.Navbar-active {
  margin-top: 4em;
  width: 10%;
  z-index: 100;
  position: fixed;
  background-color: #0f0f0f;
  transition: margin-left ease 1s;
  margin-left: -12%;
}

.Navbar-container {
  display: grid;
  width: 100%;
  grid-template-rows: repeat(auto, 1fr);
  row-gap: 0.5em;
}

.Navbar-item {
  display: flex;
  flex-direction: row;
  column-gap: 10px;
  margin-left: 0;
  margin-right: 2px;
  height: 2.5em;
  align-items: center;
  padding: 4px;
  border-radius: 6px;
  text-decoration: none;
  color: #ffffff;
  width: 100%;
  text-indent: 1em;
}
.Navbar-item:hover {
  background: #272727;
}
.Navbar-text {
  font-size: 1.5em;
  font-weight: 500;
  text-decoration: none;
  color: #ffffff;
}
.Navbar-text p {
  text-decoration: none;
}
.Navbar-icon {
  text-decoration: none;
  color: #ffffff;
  font-size: 1.4em;
}
@media screen and (max-width: 750px) {
  .Navbar {
    width: 12em;
    background-color: #0f0f0f;
    margin-top: 4em;
    width: 12em;
    z-index: 100;
    position: fixed;
    transition: margin-left ease 1s;
    margin-left: -12em;
  }
  .Navbar-slide {
    margin-top: 4em;
    width: 12em;
    z-index: 100;
    position: fixed;
    transition: margin-left ease 1s;
    margin-left: 0;
    background-color: #0f0f0f;
  }
}
