.card {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  /* border: 1px solid #ccc; */
  border-radius: 8px;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.1);
  margin-top: 1em;
}

.card-image {
  height: 50%;
}
.card-image > img {
  width: 100%;
}

.card-details {
  /* padding: 3px; */
  display: grid;
  grid-template-columns: 10% 90%;
  justify-content: space-between;
  height: auto;
  width: 100%;
  column-gap: 10px;
}

.card-logo {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  margin-left: 0px;
}
.card-logo > img {
  height: 2em;
  width: 2em;
  border-radius: 50%;
}

.card-description {
  display: flex;
  flex-direction: column;
  height: 60px;
  margin-left: 0px;
}
.card-tittle {
  width: 120px - 15px;
  font-size: 12px;
  margin-top: 0px;
  height: 50%;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: horizontal;
}
.card-channel {
  width: auto;
  /* height: 5px; */
  font-size: 10px;
  margin-top: 3%;
  color: #aaaaaa;
}
